
body{
	font-family: 'Poppins', sans-serif;
	background-color: rgb(240,240,240);
	margin: 0%;
}



#airplane{
	position: absolute;
}

#introIcon{
	width: 100%;
}

#header{
	position: fixed;
	background-color: white;
	width: 100%;
	top: 0%;
}

.links{
	float: left;
	padding: 2%;
}
#slogan{
	width: 100%;
	height: auto;
	background-color: rgb(255, 255, 255, 0.3);
}

#sloganImg {
	width: 100%;
}

#intro {
	position: absolute;
	z-index: 5;
	height: 100vh;
	width: auto;
	left: -100vw;
	animation: slide 1s ease-in-out 0s 1;
	top: 0%;
}
@keyframes slide {
	from {left: -100vw;}
	to {left: 100vw;display: none;}
}

.fade{
	width: 100%;
	animation: slideOut 1s;
	-webkit-animation: slideOut 1s;
	border-radius: 5px 5px 5px;
	top: 0%;
	left: -100%;
}
.appear{
	width: 100%;
	animation: slideIn 1s;
	-webkit-animation: slideIn 1s;
	border-radius: 5px 5px 5px;
	top: 0%;
	left: 0%;
}

.slideshow{	
	/* width: 100%; */
	position: absolute;
	z-index: -1;
	object-fit: cover !important;
}

#bob {
	background-image: url(Images/magazines.jpeg);
	background-size: cover;
}


@keyframes slideOut{
	0%{left: 0%;}
	100%{left: -100%;}
}
@keyframes slideIn{
	0%{left: 100%;}
	100%{left: 0%;}
}

@-webkit-keyframes slideIn{
	0%{left: 100%;}
	100%{left: 0%;}
}
@-webkit-keyframes slideOut{
	0%{left: 0%;}
	100%{left: -100%;}
}

.actions{
	font-size: 200%;
	text-align: center;
	margin: 0%;
}
.trackingbookingchecking{
	float: left;
	margin-left: 5%; 
	width: 20%; 
	padding:1%;
	overflow: hidden;
}

#containerForQuickActions{
	width: 100%;
	background-color: rgb(77,168,204);
	overflow: hidden;
}