
body{
	font-family: 'Nanum Gothic', sans-serif;
	background-color: rgb(240,240,240);
	margin: 0%;
}
h1{
}
#title{
	margin: 2%;
	margin-bottom: 0%;
	margin-left: -.5%;
	float: left;
}
#header{
	/* padding: 3%; */
	background-color: rgb(255,255,255);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: fixed;
	top: 0%;
	width: 100%;

	
}
#links{
	float: left; 
	margin: 0%; 
	padding: 2.15%; 
	font-size: 150%;
	transition: background-color .75s;
	
}
#links:hover{
	background-color: rgb(240,240,240);
}
#airplane{
	position: absolute;
}

#intro {
	position: absolute;
	z-index: 5;
	height: 100vh;
	width: auto;
	left: -100vw;
	animation: slide 1s ease-in-out 0s 1;
	top: 0%;
}
@keyframes slide {
	from {left: -100vw;}
	to {left: 100vw;display: none;}
}

#wrapper{
	width: 33%;
	background-color: white;
	overflow: hidden;
	margin-right: 10%;
}

.fade{
	width: 100%;
	animation: fade 1s;
	-webkit-animation: fade 1s;
	border-radius: 5px 5px 5px;
	top: 0%;
	left: -100%;
}
.appear{
	width: 100%;
	animation: appear 1s;
	-webkit-animation: appear 1s;
	border-radius: 5px 5px 5px;
	top: 0%;
	left: 0%;
}

#slideshow1{	
	position: absolute;
	z-index: -1;

}
#slideshow2{
	position: absolute;
	z-index: -2;
}
#slideshow3{
	position: absolute;
	z-index: -3;

}
@keyframes fade{
	0%{left: 0%;}
	100%{left: -100%;}
}
@keyframes appear{
	0%{left: 100%;}
	100%{left: 0%;}
}

@-webkit-keyframes appear{
	0%{left: 100%;}
	100%{left: 0%;}
}
@-webkit-keyframes fade{
	0%{left: 0%;}
	100%{left: -100%;}
}

.actions{
	font-size: 200%;
	text-align: center;
	margin: 0%;
}
.trackingbookingchecking{
	float: left;
	margin-left: 5%; 
	width: 20%; 
	padding:1%;
	background-color: rgb(97, 188, 224);
	border-radius: 5px 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}